@import "./varebls.scss";
.navbar {
  position: fixed;
  z-index: 99;
  background: $--black;
  width: 100%;
h1{
  color:#fff
}
img{
  width: 50px;
}
.nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 5%;
    width: 100%;

   
    .logo {
      font-size: 1.7rem;
      font-family: $--logo-font;
      color: $--wheat;
    }

    ul {
      display: flex;
      gap: 3rem;
      list-style: none;

      .link-list {
        text-decoration: none;
        font-size: 1.4rem;
        color: $--wheat;
        font-weight: 500;
      }
    }
    .add-icon{
      background-color: #d9d9d9;
      font-size: 1.1rem;
      border-radius: 50%;
    }
    .search {
      height: 10vh;
      display: flex;
      align-items: center;

      input {
        width: 300px;
        outline: none;
        padding: 0 .5rem;
        font-size: 1.3rem;
        border: none;
        border-bottom: 2px solid $--wheat;
        background-color: transparent;
        color: $--wheat !important;
        font-weight: 300;
      }
    }
    .login {
      background-color: $--primary-color;
        border-radius: 2rem;
        padding: 5px 2rem;
      .login-link {
        text-decoration: none;
        font-size: 1.4rem;
        color: $--wheat;
      }
    }
  }
}